[mysqld]
# GENERAL #
max-allowed-packet             = 128M
innodb                         = FORCE
max-connections                = 500

# CACHING #
query-cache-type               = 1
query-cache-size               = 512M
table-open-cache               = 2000

# INNODB #
innodb-buffer-pool-size        = 16G
innodb-log-file-size           = 8G
