apps:
  # List of 3rd party apt repos to add.
  repos:
    docker-ce:
      url: https://download.docker.com/linux/fedora/docker-ce.repo

    kubernetes:
      repo: |
        [kubernetes]
        name=Kubernetes
        baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
        enabled=1
        gpgcheck=1
        repo_gpgcheck=1
        gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg
               https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg

    sublime:
      url: https://download.sublimetext.com/rpm/stable/x86_64/sublime-text.repo
      gpg: https://download.sublimetext.com/sublimehq-rpm-pub.gpg

  # List of dnf packages to install.
  dnf:
    ###> System/CLI apps
    - exfat-utils # Utilities to create, check, label and dump exFAT file system 
    - grub-customizer # GUI for GRUB settings management
    - htop # Terminal system monitor
    - java-latest-openjdk # Jave development kit
    - jq # Takes JSON input and retrieves data by query
    - mc # Two panel terminal file manager
    - neofetch # Shows Linux System Information with Distribution Logo
    - net-tools # Base network tools
    - openfortivpn # Corporate VPN open source alternative.
    - stacer # Cool CleanMyMac alternative
    - cifs-utils # CIFS driver for NFS mounts
    - traceroute # Traces the route taken by packets over an IPv4/IPv6 network
    - tree # Displays an indented directory tree, in color
    - mediawriter # Fedora Media Writer (ISO to USB Flash)

    ###> Archive formats support
    - arj # arj archiver
    - lha # lzh unarchiver
    - unrar # rar unarchiver

    ###> Office
    - libreoffice
    - libreoffice-langpack-uk
    - libreoffice-langpack-ru
    - libreoffice-help-uk
    - libreoffice-help-ru

    ###> Media/Internet/Office
    - https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm
    - https://download.teamviewer.com/download/linux/teamviewer.x86_64.rpm
    - https://zoom.us/client/latest/zoom_x86_64.rpm

    - firefox
    - google-chrome-stable

    - clementine
    - dia
    - evolution
    - evolution-ews
    - flameshot
    - inkscape
    - transmission
    - telegram-desktop
    - vlc

    ###> Developer tools
    - https://code.visualstudio.com/sha/download?build=stable&os=linux-rpm-x64
    - '@development-tools' # Build-essentials analog.
    - golang
    - sublime-merge
    - sublime-text

    ###> Gnome-based distro packages.
    # - gnome-tweaks
    # - NetworkManager-openvpn
    # - NetworkManager-openvpn-gnome

    ###> Fonts
    - https://downloads.sourceforge.net/project/mscorefonts2/rpms/msttcore-fonts-installer-2.6-1.noarch.rpm # Microsoft Fonts
    - dejavu-fonts-all
    - google-roboto-condensed-fonts
    - google-roboto-fonts
    - google-roboto-mono-fonts
    - google-roboto-slab-fonts
    - jetbrains-mono-fonts-all
    - open-sans-fonts
    - sorkintype-merriweather-fonts
    - sorkintype-merriweather-sans-fonts
    - typetogether-literata-fonts

    ###> GTK/Icon/Sound themes.
    - arc-theme
    - materia-gtk-theme
    - paper-icon-theme
    - papirus-icon-theme
    - yaru-theme

  flatpak:
    - com.getpostman.Postman # API debugging tool
    - com.github.johnfactotum.Foliate # eBook reader
    - com.skype.Client # Skype messanger
    - com.synology.SynologyDrive # Synology Drive Client
    - com.viber.Viber # Viber messanger
    - com.xnview.XnViewMP # Media viewer
    # - com.discordapp.Discord
    # - com.rafaelmardojai.Blanket # Listen to different sounds
    # - com.spotify.Client

docker:
  install: yes
  docksal:
    install: yes
    settings:
      DOCKSAL_CONTAINER_HEALTHCHECK_INTERVAL: 1m # Throttle healthchecks for less syslog entries.
      DOCKSAL_DNS_DISABLED: 0 # Set 1 for disable docksal DNS container at all.
      DOCKSAL_DNS_UPSTREAM: 1.1.1.1 # Use CloudFlare DNS as its faster than google's DNS.

php:
  install: yes
  composer:
    # List of global composer packages to install.
    #
    # NOTE: All the following packages will be installed using `consolidation/cgr`.
    global:
      - drush/drush
      - squizlabs/php_codesniffer
      - drupal/coder              # PHPCS Drupal standards
      - friendsofphp/php-cs-fixer # PHPCS standard fixer
      - mglaman/drupal-check      # Drupal static code analysis tool

node:
  install: yes
  # List of node versions to install.
  versions: 
    - 14
    - 12
    - 10
  defaultVersion: node # Latest installed node version.
  npm:
    # List of global npm packages to install for default node.
    global: 
      - bower
      - eslint
      - eslint-config-airbnb
      - eslint-config-google
      - eslint-config-standard
      - eslint-plugin-import
      - eslint-plugin-jsx-a11y
      - eslint-plugin-node
      - eslint-plugin-promise
      - eslint-plugin-react
      - eslint-plugin-react-hooks
      - firebase-tools
      - flow
      - flow-bin
      - gulp
      - http-server
      - lsp
      - typescript
      - vscode-css-languageserver-bin
      - vscode-html-languageserver-bin
      - yarn

python:
  install: yes
  pip3:
    # List of global packages to install.
    global:
      - ffmpeg-normalize # Normalizes audio using ffmpeg.
      - yq # Takes YAML input and retrieves data by query.
      - rivalcfg # SteelSeries Rival mouses configuration tool.
                 # sudo rivalcfg --sensitivity1 800 --sensitivity2 1200 --polling-rate 1000 --light-effect breath --color red

vscode:
  install: yes
  # List of plugins to install.
  extensions:
    - amazonwebservices.aws-toolkit-vscode # AWS toolkit
    - acarreiro.calculate                # Calculates inline math expr
    - christian-kohler.path-intellisense # File path autocomplete
    - coenraads.bracket-pair-colorizer   # Bracket Pair Colorizer
    - dakara.transformer                 # Filter, Sort, Unique, Reverse, Align, CSV, Line Selection, Text Transformations and Macros
    - editorconfig.editorconfig          # EditorConfig support
    - esbenp.prettier-vscode             # Prettier - Code formatter
    - github.github-vscode-theme         # GitHub color theme
    - golang.go                          # Golang support
    - hookyqr.beautify                   # HTML/JSON beautifier
    - mhutchie.git-graph                 # Git graph
    - mikestead.dotenv                   # .env support
    - ms-azuretools.vscode-docker        # Docker support
    - ms-python.python                   # Python support
    - ms-vscode-remote.remote-ssh        # SSH support 
    - pkief.material-icon-theme          # Material Icon Theme
    #- TabNine.tabnine-vscode            # AI-assisted autocomplete
    - tyriar.lorem-ipsum                 # Lorem Ipsum generator
    - william-voyek.vscode-nginx         # nginx.conf support
    - yzhang.markdown-all-in-one         # Markdown tools
    #- alefragnani.Bookmarks             # Bookmarks

    # Node/NPM/Yarn specific extensions
    - christian-kohler.npm-intellisense # NPM better autocomplete
    - dbaeumer.vscode-eslint            # Eslint support
    - mariusschulz.yarn-lock-syntax     # yarn.lock syntax highlight

    # PHP/Drupal specific extensions
    - ikappas.composer         # Composer support
    - ikappas.phpcs            # PHP CodeSniffer

jetbrains:
  toolbox:
    install: yes

cloud:
  aws: # AWS CLI v2
    install: yes
  google-cloud-sdk:
    install: yes
    packages:
      - google-cloud-sdk
      - google-cloud-sdk-minikube
      - google-cloud-sdk-firestore-emulator

  kubernetes:
    install: yes
    packages:
      - kubeadm
      - kubectl
      - kubelet
