[include]
  path = ~/.gitconfig.local

[core]
  autocrlf   = input
  safecrlf   = false
  ignorecase = false
  longpaths  = true
  editor     = nano

[diff]
  renames    = copies

[color]
  ui         = true
  diff       = auto
  status     = auto
  branch     = auto

[alias]
  c          = commit -m
  hidden     = !git ls-files -v | grep "^[[:lower:]]"
  hide       = update-index --assume-unchanged
  p          = "!git pull origin $(git branch --show-current) --rebase --autostash"
  pp         = "!git pull origin develop --rebase --autostash"
  s          = status --short --branch
  unhide     = update-index --no-assume-unchanged

[mergetool]
  keepBackup = true
